{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ]
}
